/* Estilos personalizados para TechShop */

.header {
    border-bottom: 1px solid #dee2e6;
}

#main-header {
    background-color: #198754 !important;
}

footer {
    background-color: #0dcaf0 !important;
}