<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"/>
    
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        
       a <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>[[#{carrito.titulo}]]</h2>
                </div>
            </div>
        </div>
        
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>